@mixin container($width:90%,$max-width:50em){
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}
@mixin  mq($min-width:800px) {
    @media (min-width:$min-width) {
        @content;
    }
    
}